.abouthead{
    height: 50px;
    background-color:rgb(109, 197, 109) ;
    font-size: x-large;
    display: flex;
    justify-content: center;

}
.aboutcontent{
    height:12vh;
    background-color: aliceblue;
    margin: 100px;
}