<p>about works!</p>
<div id="about">
    <div class="abouthead">
      ABOUT US
      </div>
      <div class="aboutcontent">
        As part of Sryas Group of Companies, we work with a brilliant team of people, working together to break past every challenge and think disruptively to help revolutionize businesses. Since 2003, our team has garnered a reputation for unparalleled service and delivery and helping clients deploy quality solutions. We are transparent, value honesty, and promote diversity. We believe in building long term relationships with our clients.
      </div>
  </div>
