.statichead{
    height: 7vh;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}
.parent-card-holder{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    margin: 20px;
}